@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FonteLogo';
    src: url(../_fonts/bubblegum-sans-regular.otf);
}

body{
    font: Arial, sans-serif;
    /*background-image: url("background.jpg");*/
    background-color:#dddddd;
    color: rgb(0, 0, 0);
}

div#interface{
    width: 1000px;
    background-color: white;
    margin: -20px auto 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px; /*10px 10px 10px 10px*/
}

p{
    text-align: justify; /*center*/
    text-indent: 50px;
}

a{
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header#header img#icone {
    position: absolute;
    left: 1250px;
    top: 100px;
}

header#header{
    border-bottom: 1px #606060 solid;
    height: 180px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
}

header#header h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#header h2{
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/* Pictures*/
figure.photo-subtitle{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.photo-subtitle img{
    width: 100%;
    height: 100%;
}

figure.photo-subtitle figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.photo-subtitle:hover figcaption{
    opacity: 1;
}

/*Menu Formatting*/
nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 820px/*1230px;*/
}

nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
    text-decoration: underline;
}

/*Main area*/
section#section{
    display: block;
    width: 600px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

article#mainNews h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#articleHeader h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

.rigth{
    text-align: right;
}

header#articleHeader h2{
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#articleHeader h3{
    font-size: 13pt;
    color: #606060;
}

table#table{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#table td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#table td.lc{
    color: #ffffff;
    background-color: #606060;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

table#table td.rc{
    background-color: #cecece;
    text-align: left;
}

table#table caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#table caption span{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

aside#aside{
    display: block;
    width: 355px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#aside h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#aside h2{ 
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;
}

footer#footer{
    clear: both;
    border-top: 1px solid #606060;
}

footer#footer p{
    text-align: center;
}

video#filme01{
    display: block;
    position: relative;
    left: 2px;
    top: -8px; 
    width: 600px;
}

video#filme02{
    display: block;
    position: relative;
    left: 2px;
    top: 2px;
    width: 352px;
}